/* default styles for the page (use root) */
:root {
    --background-color: #ffffff;
    --text-color: #333;
    --header-background-color: #4CAF50;
    --header-text-color: white;
    --footer-background-color: #333;
    --footer-text-color: white;
    --shadow: rgba(0, 0, 0, 0.4);

    /* light mode */
    --light-background-color: #ffffff;
    --light-shadow: rgba(0, 0, 0, 0.1);
    --light-text-color: #333;


    /* dark mode */
    --dark-background-color: #121212;
    --dark-shadow: rgba(255, 255, 255, 0.1);
    --dark-text-color: #ffffff;

    --header-height: 70px;
    --container-width: 1200px;
    
    --transition-speed: 0.3s;
    --font: 'Space Grotesk', sans-serif;

}

main {
    padding-top: calc(var(--header-height) + 30px);
    background-color: var(--background-color);
}

body {
    font-family: var(--font);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    box-sizing: border-box;
    transition: background-color var(--transition-speed), color var(--transition-speed);
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;   
  height: 100%; 
}

.flex-col-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;    
}

/* navbar styles v*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    box-shadow: 0 4px 8px var(--shadow);


}

#theme-toggle, .theme-toggle {
    cursor: pointer;
    background-color: transparent;
    color: var(--header-text-color);
    border: none;
    font-size: 18px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav ul li a{
    display: inline-block;
    color: var(--light-text-color);
    text-decoration: none;
}

#menu-toggle, .menu-toggle {
    display: none;
    cursor: pointer;
    background-color: none;
    border: none;
    width: 30px;
    height: 30px;
    position: relative;
}


#menu-toggle:before, .menu-toggle:before {
    transform: translateY(-50%) rotate(45deg);
}
#menu-toggle:after, .menu-toggle:after {
    transform: translateY(-50%) rotate(-45deg);
}

#menu-toggle span, .menu-toggle span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--header-text-color);
    margin: 5px 0;
    transition: transform var(--transition-speed), opacity var(--transition-speed);
}

#menu-toggle span:nth-child(1), .menu-toggle span:nth-child(1) {
    top: 0;
}
#menu-toggle span:nth-child(2), .menu-toggle span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

#menu-toggle span:nth-child(3), .menu-toggle span:nth-child(3) {
    bottom: 0;
}


@media (max-width: 768px) {



    nav ul {
        display: none;
    }
    
    #menu-toggle, .menu-toggle {
        display: block;
    }

    nav.active ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: var(--header-height);
        left: 0;
        width: 100%;
        padding: 20px;
        box-shadow: 0 5px 10px var(--shadow);
        border-top: 1px solid blue; /* temp*/
    }
}